spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/agenda_inteligente_dev
    username: postgres
    password: postgres
  
  jpa:
    show-sql: true
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    br.com.agendainteligente: DEBUG
    org.springframework.web: DEBUG

